@import "../utils/mixins";
.footer {
  padding: 60px 0;
  background-color: var(--bg-footer-color);

  &-logo {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--second-accent-color);
    padding-bottom: 20px;
    display: inline-block;

    span {
      color: var(--accent-color);
    }
  }

  &-item {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-accent-color);
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &-link {
    color: var(--contact-footer-color);
  }
}