
$logo-header-color: #000;
$menu-color: #212121;
$title-color: #212121;
$text-color: #757575;
$bg-team-color: #F5F4FA;
$bg-button: #F5F4FA;
$accent-color: #2196F3;
$second-accent-color: #ffffff;
$contact-footer-color: rgba(255, 255, 255, 0.6);
$bg-footer-color: #2F303A;
$border-header: #ECECEC;
$border-portfolio: #EEEEEE;

$main-font: "Roboto", sans-serif;
$second-font: "Raleway", sans-serif;
