* {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
}

.container {
  margin: auto;
  width: 100vw;
}
ul {
  list-style-type: none;
  padding-left: 0; /* Щоб прибрати відступ */
}
a {
  text-decoration: none;
}
