* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.container {
  margin: auto;
  width: 480px;
  font-family: var(--main-font);
}
ul {
  list-style-type: none;
  padding-left: 0; /* Щоб прибрати відступ */
}
a {
  text-decoration: none;
}
@media screen and (min-width: 757px){
  .container {
    width: 1170px;
  }
}
@media screen and (min-width: 0) and (max-width: 756px) {
  .container {
    width: 100vw;

  }
}