.teams {
  padding: 94px 0;
  background-color: var(--bg-team-color);

  .blue {
    color: var(--accent-color);
  }

  &-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-color);
    padding-bottom: 50px;
  }

  &-list {
    display: flex;
    gap: 30px;

    &-item {
      border-radius: 0 0 4px 4px;
      text-align: center;
      background-color: var(--second-accent-color);
      box-shadow: 0 2px 1px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.14), 0 1px 3px rgba(0,0,0,0.12);

      .teams-image {
        width: 270px;
        height: 260px;
        display: inline-block;
        padding-bottom: 30px;
      }

      .teams-name {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
        color: var(--title-color);
        padding-bottom: 10px;
      }

      .teams-job {
        font-size: 16px;
        letter-spacing: 0.03em;
        color: var(--text-color);
        padding-bottom: 30px;
      }

      .teams-messengers {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 30px;

        svg {
          fill: #afb1b8;
          border-radius: 50%;
          padding: 10px;
          height: 44px;
          width: 44px;
          transition: 0.3s;
          cursor: pointer;

          &:hover {
            fill: var(--second-accent-color);
            background-color: var(--accent-color);
          }
        }
      }
    }
  }
}